.dirstamp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
map
missing
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
*~
include/*~
src/*~
test-suite.log
test-driver
test/*.log
test/*.trs
test/.deps/
include/config.h.in
include/config.h
include/stamp-h1
.vagrant/
