.dirstamp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
config.guess
config.sub
configure
compile
depcomp
install-sh
openstreetmap-cgimap
missing
compile
src/.deps/
src/Makefile
src/Makefile.in
src/*.o
src/**/*.lo
src/*.la
src/.libs/
*~
include/*~
src/*~
test-suite.log
test-driver
test/*.log
test/*.o
test/.deps/
test/.libs/
test/test_core
test/test_apidb_backend_nodes
test/test_apidb_backend_oauth
test/test_apidb_backend_oauth2
test/test_apidb_backend_historic
test/test_apidb_backend_changesets
test/test_apidb_backend_changeset_downloads
test/test_apidb_backend_changeset_uploads
test/test_parse_id_list
test/test_http
test/test_basicauth
test/test_oauth
test/test_oauth2
test/test_parse_changeset_input
test/test_parse_options
test/test_parse_osmchange_input
test/test_parse_time
test/*.trs
include/cgimap/config.hpp.in
include/cgimap/config.hpp
include/cgimap/stamp-h1
src/lib*.a
aclocal/libtool.m4
aclocal/ltoptions.m4
aclocal/ltsugar.m4
aclocal/ltversion.m4
aclocal/lt~obsolete.m4
libtool
ltmain.sh
.vagrant/
.libs/

# a file created by bear for use with irony-server and irony-mode for
# autocomplete in emacs.
compile_commands.json
/.vscode/
/build/
