BasedOnStyle: Google
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
Standard: Cpp11
BreakBeforeBinaryOperators: NonAssignment
AlwaysBreakTemplateDeclarations: false
